flows.json
[{"id":"c5f4cb1f.fd3d78","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"ce4472f.a4e479","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"958e456121204a39a8a853c20b7ae275"},{"id":"24f276b5.777e8a","type":"server-state-changed","z":"c5f4cb1f.fd3d78","name":"Rob","server":"ce4472f.a4e479","entityidfilter":"device_tracker.c52418abfbb94784acaa939aea29bf81","entityidfiltertype":"exact","haltifstate":"","x":70,"y":420,"wires":[["d67b2d41.99d53"]]},{"id":"d67b2d41.99d53","type":"switch","z":"c5f4cb1f.fd3d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":420,"wires":[["d6c01e55.ba5cc","f10161d0.bc8"],["6d851afd.075904","f10161d0.bc8"]]},{"id":"d6c01e55.ba5cc","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Just Arrived","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Just Arrived\" }","mergecontext":"","x":350,"y":340,"wires":[["88d79a5e.fefaa8"]]},{"id":"6d851afd.075904","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Just Left","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Just Left\" }","mergecontext":"","x":340,"y":500,"wires":[["d9dc7c2d.95291"]]},{"id":"88d79a5e.fefaa8","type":"stoptimer","z":"c5f4cb1f.fd3d78","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":340,"wires":[["cbabf8c5.1ced18"],[]]},{"id":"d9dc7c2d.95291","type":"stoptimer","z":"c5f4cb1f.fd3d78","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":500,"wires":[["d3c330c.60896d"],[]]},{"id":"cbabf8c5.1ced18","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Just Arrived","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Home\" }","mergecontext":"","x":730,"y":340,"wires":[[]]},{"id":"d3c330c.60896d","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Away","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Away\" }","mergecontext":"","x":710,"y":500,"wires":[["e7730617.c10418"]]},{"id":"f10161d0.bc8","type":"change","z":"c5f4cb1f.fd3d78","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":420,"wires":[["88d79a5e.fefaa8","d9dc7c2d.95291","e7730617.c10418"]]},{"id":"e0da2077.664f9","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Extended Away","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Extended Away\" }","mergecontext":"","x":960,"y":500,"wires":[[]]},{"id":"e7730617.c10418","type":"stoptimer","z":"c5f4cb1f.fd3d78","duration":"12","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":800,"y":420,"wires":[["e0da2077.664f9"],[]]}]