flows.json
[{"id":"c5f4cb1f.fd3d78","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"e241cbb1.340a98","type":"tab","label":"Living Room TV","disabled":false,"info":""},{"id":"7cd91df5.e4e734","type":"tab","label":"Oil Tank","disabled":false,"info":""},{"id":"c13a748f.47b578","type":"tab","label":"Front Door Lock","disabled":false,"info":""},{"id":"1409f51e.80fadb","type":"tab","label":"Time of Day","disabled":false,"info":""},{"id":"43ef727f.1172bc","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"ce4472f.a4e479","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"958e456121204a39a8a853c20b7ae275"},{"id":"88a7ae46.a08c2","type":"selenium-server","z":"","remoteurl":"http://178.128.47.37:4444/wd/hub"},{"id":"6d45d994.3b76d8","type":"selenium-server","z":"","remoteurl":"http://178.128.47.37:4444/wd/hub"},{"id":"fd1aeb1c.d956b8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.12","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"24f276b5.777e8a","type":"server-state-changed","z":"c5f4cb1f.fd3d78","name":"Rob","server":"ce4472f.a4e479","entityidfilter":"device_tracker.c52418abfbb94784acaa939aea29bf81","entityidfiltertype":"exact","haltifstate":"","x":70,"y":160,"wires":[["d67b2d41.99d53"]]},{"id":"d67b2d41.99d53","type":"switch","z":"c5f4cb1f.fd3d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":160,"wires":[["d6c01e55.ba5cc","f10161d0.bc8"],["6d851afd.075904","3690704.a485d9"]]},{"id":"d6c01e55.ba5cc","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Just Arrived","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Just Arrived\" }","mergecontext":"","x":350,"y":80,"wires":[["88d79a5e.fefaa8"]]},{"id":"6d851afd.075904","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Just Left","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Just Left\" }","mergecontext":"","x":340,"y":240,"wires":[["d9dc7c2d.95291"]]},{"id":"88d79a5e.fefaa8","type":"stoptimer","z":"c5f4cb1f.fd3d78","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":80,"wires":[["cbabf8c5.1ced18"],[]]},{"id":"d9dc7c2d.95291","type":"stoptimer","z":"c5f4cb1f.fd3d78","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":240,"wires":[["d3c330c.60896d"],[]]},{"id":"cbabf8c5.1ced18","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Home","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Home\" }","mergecontext":"","x":710,"y":80,"wires":[[]]},{"id":"d3c330c.60896d","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Away","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Away\" }","mergecontext":"","x":710,"y":240,"wires":[["e7730617.c10418"]]},{"id":"f10161d0.bc8","type":"change","z":"c5f4cb1f.fd3d78","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["d9dc7c2d.95291","e7730617.c10418"]]},{"id":"e0da2077.664f9","type":"api-call-service","z":"c5f4cb1f.fd3d78","name":"Extended Away","server":"ce4472f.a4e479","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.rob_presence_status\", \"option\": \"Extended Away\" }","mergecontext":"","x":960,"y":240,"wires":[[]]},{"id":"e7730617.c10418","type":"stoptimer","z":"c5f4cb1f.fd3d78","duration":"12","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":800,"y":160,"wires":[["e0da2077.664f9"],[]]},{"id":"3690704.a485d9","type":"change","z":"c5f4cb1f.fd3d78","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["88d79a5e.fefaa8"]]},{"id":"cefdd1a3.7fed3","type":"server-state-changed","z":"e241cbb1.340a98","name":"Presence","server":"ce4472f.a4e479","entityidfilter":"sensor.living_room_presence_sensor","entityidfiltertype":"exact","haltifstate":"standby","x":100,"y":120,"wires":[["a73987d2.485458"]]},{"id":"a73987d2.485458","type":"api-current-state","z":"e241cbb1.340a98","name":"Check Rule","server":"ce4472f.a4e479","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.living_room_tv_automation_toggle_on_motion","x":250,"y":120,"wires":[["26e6226f.4628be"]]},{"id":"438d3c24.bb0384","type":"api-call-service","z":"e241cbb1.340a98","name":"Turn On","server":"ce4472f.a4e479","service_domain":"homeassistant","service":"turn_on","data":"{ \"entity_id\":\"switch.living_room_tv_switch\"}","mergecontext":"","x":560,"y":120,"wires":[[]]},{"id":"26e6226f.4628be","type":"api-current-state","z":"e241cbb1.340a98","name":"Check if on","server":"ce4472f.a4e479","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.living_room_tv_switch","x":410,"y":120,"wires":[["438d3c24.bb0384"]]},{"id":"8e560a1a.85f1b8","type":"server-state-changed","z":"e241cbb1.340a98","name":"Power","server":"ce4472f.a4e479","entityidfilter":"sensor.living_room_tv_power","entityidfiltertype":"substring","haltifstate":"","x":90,"y":260,"wires":[["93c5f458.665a78"]]},{"id":"93c5f458.665a78","type":"switch","z":"e241cbb1.340a98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"lte","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":260,"wires":[["ee7dcb93.34c448"],["82e56a5c.d6f158"]]},{"id":"620e4d2e.405444","type":"stoptimer","z":"e241cbb1.340a98","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":570,"y":300,"wires":[["e4f4b351.d57bd"],[]]},{"id":"82e56a5c.d6f158","type":"api-current-state","z":"e241cbb1.340a98","name":"Check Rule","server":"ce4472f.a4e479","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.living_room_tv_turn_off_when_inactive","x":370,"y":300,"wires":[["620e4d2e.405444"]]},{"id":"e4f4b351.d57bd","type":"api-call-service","z":"e241cbb1.340a98","name":"Turn Off","server":"ce4472f.a4e479","service_domain":"homeassistant","service":"turn_off","data":"{ \"entity_id\":\"switch.living_room_tv_switch\"}","mergecontext":"","x":740,"y":260,"wires":[[]]},{"id":"ee7dcb93.34c448","type":"change","z":"e241cbb1.340a98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["620e4d2e.405444"]]},{"id":"6c255922.f48f28","type":"open-web","z":"7cd91df5.e4e734","name":"","browser":"firefox","weburl":"https://app.oilpal.com/","width":1024,"height":768,"webtitle":"Oilpal","timeout":3000,"maximized":false,"server":"6d45d994.3b76d8","x":270,"y":80,"wires":[["6158c338.727cbc"]]},{"id":"907baf53.9b08c","type":"inject","z":"7cd91df5.e4e734","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":"2","x":110,"y":80,"wires":[["6c255922.f48f28"]]},{"id":"6158c338.727cbc","type":"send-keys","z":"7cd91df5.e4e734","name":"Set username","text":"rob_stokes@me.com","selector":"name","target":"UserName","timeout":"1000","waitfor":"500","clearval":false,"x":440,"y":80,"wires":[["dc8ed56d.d1eec8"]]},{"id":"dc8ed56d.d1eec8","type":"send-keys","z":"7cd91df5.e4e734","name":"Set password","text":"forsaken","selector":"name","target":"Password","timeout":"1000","waitfor":"500","clearval":true,"x":620,"y":80,"wires":[["a41431bd.11984"]]},{"id":"a41431bd.11984","type":"click-on","z":"7cd91df5.e4e734","name":"Submit","selector":"className","target":"btn btn-primary ladda-button","timeout":1000,"waitfor":500,"clickon":false,"x":800,"y":80,"wires":[["59ad3325.263dfc"]]},{"id":"59ad3325.263dfc","type":"get-text","z":"7cd91df5.e4e734","name":"","expected":"","selector":"xpath","target":"/html/body/div[2]/div[2]/div/div/section/div/div[2]/div/div[3]/div[3]/div/div/div/div[2]/div/div/h3","timeout":1000,"waitfor":500,"savetofile":false,"x":940,"y":80,"wires":[["ab023ad9.0851b8","ddf4f358.8d8ed"]]},{"id":"5c2a4d8e.3b52e4","type":"close-web","z":"7cd91df5.e4e734","name":"","waitfor":500,"x":1250,"y":80,"wires":[["6f34c860.e45b28"]]},{"id":"ab023ad9.0851b8","type":"get-text","z":"7cd91df5.e4e734","name":"","expected":"","selector":"xpath","target":"/html/body/div[2]/div[2]/div/div/section/div/div[2]/div/div[3]/div[2]/div[1]/div[1]/div/div[2]/div/div/h3","timeout":1000,"waitfor":500,"savetofile":false,"x":1100,"y":80,"wires":[["5c2a4d8e.3b52e4","2763bb9d.eae564"]]},{"id":"ddf4f358.8d8ed","type":"function","z":"7cd91df5.e4e734","name":"get Value","func":"var value = msg.payload.split(\" \")[0];\n\nmsg.payload = value;\nmsg.topic = \"pidgeons_nest/oil_remaining\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":180,"wires":[["beeef830.3f2638"]]},{"id":"beeef830.3f2638","type":"mqtt out","z":"7cd91df5.e4e734","name":"","topic":"","qos":"2","retain":"true","broker":"fd1aeb1c.d956b8","x":1330,"y":280,"wires":[]},{"id":"2763bb9d.eae564","type":"function","z":"7cd91df5.e4e734","name":"get Value","func":"var value = msg.payload.split(\"L\")[0];\n\nmsg.payload = value;\nmsg.topic = \"pidgeons_nest/oil_to_fill\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":180,"wires":[["beeef830.3f2638"]]},{"id":"6f34c860.e45b28","type":"function","z":"7cd91df5.e4e734","name":"get Date","func":"msg.payload = new Date()\nmsg.topic = \"pidgeons_nest/oil_last_update\"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":80,"wires":[["37ef575a.a886a8"]]},{"id":"37ef575a.a886a8","type":"moment","z":"7cd91df5.e4e734","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM Qo, h:mm:ss a\"","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":1440,"y":180,"wires":[["beeef830.3f2638"]]},{"id":"cb64776e.953e98","type":"sun events","z":"1409f51e.80fadb","testmode":"N","verbose":"N","topic":"","name":"","x":100,"y":120,"wires":[["7eec0b3b.84cbe4"]]},{"id":"7eec0b3b.84cbe4","type":"switch","z":"1409f51e.80fadb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunriseEnd","vt":"str"},{"t":"eq","v":"sunsetStart","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":120,"wires":[["8eee3c6.84c67c"],["844b2f15.e7252"]]},{"id":"844b2f15.e7252","type":"api-current-state","z":"1409f51e.80fadb","name":"Check Rule","server":"ce4472f.a4e479","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.lighting_hallway_turn_on_at_sunset","x":390,"y":160,"wires":[["ac003de8.561ac"]]},{"id":"8eee3c6.84c67c","type":"api-current-state","z":"1409f51e.80fadb","name":"Check Rule","server":"ce4472f.a4e479","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.lighting_hallway_turn_off_at_sunrise","x":390,"y":80,"wires":[["f4d8fdf2.b03df"]]},{"id":"f4d8fdf2.b03df","type":"api-call-service","z":"1409f51e.80fadb","name":"Turn Off","server":"ce4472f.a4e479","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.hallway_main_light\"}","mergecontext":"","x":540,"y":80,"wires":[[]]},{"id":"ac003de8.561ac","type":"api-call-service","z":"1409f51e.80fadb","name":"Turn On (20%)","server":"ce4472f.a4e479","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.hallway_main_light\", \"brightness_pct\": 20}","mergecontext":"","x":560,"y":160,"wires":[[]]},{"id":"21d9bfc6.c016c","type":"server-state-changed","z":"43ef727f.1172bc","name":"Door Bell Rings","server":"ce4472f.a4e479","entityidfilter":"binary_sensor.ring_front_door_ding","entityidfiltertype":"exact","haltifstate":"off","x":120,"y":80,"wires":[["58c88f79.5a037"]]},{"id":"58c88f79.5a037","type":"api-call-service","z":"43ef727f.1172bc","name":"Notify Bedroom Dot","server":"ce4472f.a4e479","service_domain":"notify","service":"bedroom_dot","data":"{ \"message\":\"Theres someone at the door\"}","mergecontext":"","x":330,"y":80,"wires":[[]]},{"id":"6fb3b065.0fc56","type":"inject","z":"1409f51e.80fadb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["30569e58.667092","900c9a21.f78d88"]]},{"id":"30569e58.667092","type":"api-call-service","z":"1409f51e.80fadb","name":"Lock Door","server":"ce4472f.a4e479","service_domain":"lock","service":"lock","data":"{ \"entity_id\":\"lock.front_door_lock\"}","mergecontext":"","x":310,"y":240,"wires":[[]]},{"id":"bb8ecbd1.193de8","type":"api-call-service","z":"1409f51e.80fadb","name":"Arm Night-time mode","server":"ce4472f.a4e479","service_domain":"alarm_control_panel","service":"alarm_arm_night","data":"{ \"entity_id\":\"alarm_control_panel.ha_alarm\"}","mergecontext":"","x":600,"y":300,"wires":[[]]},{"id":"900c9a21.f78d88","type":"api-current-state","z":"1409f51e.80fadb","name":"Rob","server":"ce4472f.a4e479","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.rob_presence_status","x":270,"y":300,"wires":[["5e3dde6b.0b9e1"]]},{"id":"5e3dde6b.0b9e1","type":"switch","z":"1409f51e.80fadb","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Just Arrived","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":300,"wires":[["bb8ecbd1.193de8"],["bb8ecbd1.193de8"]]},{"id":"17971f73.af7b21","type":"server-state-changed","z":"c13a748f.47b578","name":"Lock","server":"ce4472f.a4e479","entityidfilter":"lock.front_door_lock","entityidfiltertype":"exact","haltifstate":"","x":80,"y":120,"wires":[["f90454e8.450668"]]},{"id":"f90454e8.450668","type":"switch","z":"c13a748f.47b578","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"locked","vt":"str"},{"t":"eq","v":"unlocked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":120,"wires":[["54ff5d2a.4c7934"],["94a9091b.e4ce08"]]},{"id":"54ff5d2a.4c7934","type":"time-range-switch","z":"c13a748f.47b578","name":"","lat":"","lon":"","startTime":"20:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":370,"y":80,"wires":[["3f06c73e.8356c8"],["85ed2bf8.af7ac8"]]},{"id":"3f06c73e.8356c8","type":"api-call-service","z":"c13a748f.47b578","name":"Arm Night","server":"ce4472f.a4e479","service_domain":"alarm_control_panel","service":"alarm_arm_night","data":"{ \"entity_id\":\"alarm_control_panel.ha_alarm\"}","mergecontext":"","x":540,"y":60,"wires":[[]]},{"id":"85ed2bf8.af7ac8","type":"api-call-service","z":"c13a748f.47b578","name":"Arm Away","server":"ce4472f.a4e479","service_domain":"alarm_control_panel","service":"alarm_arm_away","data":"{ \"entity_id\":\"alarm_control_panel.ha_alarm\"}","mergecontext":"","x":540,"y":100,"wires":[[]]},{"id":"abe0650b.2054e8","type":"api-call-service","z":"c13a748f.47b578","name":"Arm Night","server":"ce4472f.a4e479","service_domain":"alarm_control_panel","service":"alarm_arm_night","data":"{ \"entity_id\":\"alarm_control_panel.ha_alarm\"}","mergecontext":"","x":540,"y":140,"wires":[["485427d3.c19c38"]]},{"id":"94a9091b.e4ce08","type":"time-range-switch","z":"c13a748f.47b578","name":"","lat":"","lon":"","startTime":"20:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":370,"y":160,"wires":[["abe0650b.2054e8"],["82ff3350.20571"]]},{"id":"82ff3350.20571","type":"api-call-service","z":"c13a748f.47b578","name":"Disarm","server":"ce4472f.a4e479","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{ \"entity_id\":\"alarm_control_panel.ha_alarm\"}","mergecontext":"","x":540,"y":180,"wires":[[]]},{"id":"485427d3.c19c38","type":"delay","z":"c13a748f.47b578","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":140,"wires":[["8cc88d7e.3664d"]]},{"id":"8cc88d7e.3664d","type":"api-call-service","z":"c13a748f.47b578","name":"Lock","server":"ce4472f.a4e479","service_domain":"lock","service":"lock","data":"{ \"entity_id\":\"lock.front_door_lock\"}","mergecontext":"","x":810,"y":140,"wires":[[]]}]